{% extends "base.html" %}
{% block content %}
    <form class="form_1" method="POST" action="{{url_for('register')}}">
        <div class="input_fields">
            <h1>Register</h1>
            {{ form.csrf_token }}
            {{ form.email }}<br>
            {% if form.errors %}
                {% for error in form.errors['email'] %}
                    <p class="error_msg">{{ error }}</p>
                {% endfor %}
            {% endif %}
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <p class="error_msg">{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {{ form.password }}<br>
            {% if form.errors %}
                {% for error in form.errors['password'] %}
                    <p class="error_msg">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <button class="rounded_gradiant_md_btn" type="submit">
            Register
        </button>
    </form>
{% endblock %}